{% extends "layout.html" %} {% load static %} {% block title %}Sheikh
Azmatulla{% endblock %} {% block extra_link %} {{ block.super }}
<link rel="stylesheet" href="{% static 'css/home.css'%}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
  integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
{% endblock %} {% block content %}

<div class="bar-animation">
  <div class="bar" style="--i: 6"></div>
  <div class="bar" style="--i: 5"></div>
  <div class="bar" style="--i: 4"></div>
  <div class="bar" style="--i: 3"></div>
  <div class="bar" style="--i: 2"></div>
  <div class="bar" style="--i: 1"></div>
</div>

<section class="section home">
  <div class="snow"></div>
  <div class="home-info">
    <h1>Sheikh Azmatulla</h1>
    <h2>
      I'm a
      <span style="--i: 4" data-text="Django Developer">Django Developer</span>
      <span style="--i: 3" data-text="Graphic Designer">Graphic Designer</span>
      <span style="--i: 2" data-text="ML Engineer">ML Engineer</span>
      <span style="--i: 1" data-text="Web Designer">Web Designer</span>
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio alias
      doloremque nobis magnam veritatis soluta sint autem, officiis eos
      explicabo quo. Ipsum dolor laborum aliquid rerum odio! Sunt, iste
      molestiae?
    </p>
    <div class="btn-soc">
      <a href="#" class="btn">Download CV</a>
      <div class="soc">
        <a href="#"><i class="fa-brands fa-github"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
      </div>
    </div>
  </div>

  <div class="home-img">
    <div class="img-box">
      <div class="img-item">
        <img
          src="{% static 'images/Sheikh_azmatulla_Portfolio_img.png'%}"
          alt="Sheikh Azmatulla Photo"
        />
      </div>
    </div>
  </div>
</section>
<div class="scroll-down">Scroll</div>
<section id="about" class="section about-section">
  <div class="about-container">
    <!-- LEFT SIDE ABSTRACT IMAGE -->
    <div class="about-left">
       <img class="abstract-img"
       src="{% static 'images/sheikhazmatulla.png' %}"
       alt="abstract Sheikh Azmatulla" />
    </div>

    <!-- RIGHT SIDE CONTENT -->
    <div class="about-right">
      <h2 class="about-title">about <span>Me</span></h2>

      <p class="about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>

      <p class="about-text">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat.
      </p>

      <p class="about-text">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur.
      </p>
    </div>
  </div>
</section>
<script>
  const abstractImg = document.querySelector('.abstract-img');
  window.addEventListener('scroll', () => {
    const scrollY = window.scrollY;
    abstractImg.style.transform =
  `translate(${scrollY * 0.25}px, ${scrollY * -0.05}px)`;

  });
</script>

{% endblock %}
