html{
  scroll-behavior: smooth;
}
body {
  background: transparent;
}

*{
    font-family: "Bitter", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a{
    color: white;
    text-decoration: none;
}
/* GLOBAL SNOW LAYER */
.global-snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  z-index: 5; 

  background-image:
    radial-gradient(1px 1px at 20px 30px, #fff, transparent),
    radial-gradient(1px 1px at 80px 120px, #fff, transparent),
    radial-gradient(1px 1px at 150px 60px, #fff, transparent),
    radial-gradient(1px 1px at 200px 180px, #fff, transparent);

  background-size: 250px 250px;
  animation: snow-small 20s linear infinite;
  opacity: 0.8;
}


.global-snow::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    radial-gradient(2px 2px at 50px 50px, #fff, transparent),
    radial-gradient(2px 2px at 120px 160px, #fff, transparent),
    radial-gradient(2px 2px at 180px 90px, #fff, transparent);
  background-size: 300px 300px;
  animation: snow-medium 14s linear infinite;
  opacity: 0.35;
}

.global-snow::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    radial-gradient(3px 3px at 100px 100px, #fff, transparent),
    radial-gradient(3px 3px at 200px 40px, #fff, transparent),
    radial-gradient(3px 3px at 60px 200px, #fff, transparent);
  background-size: 400px 400px;
  animation: snow-big 9s linear infinite;
  opacity: 0.45;
}
@keyframes snow-small {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 300px;
  }
}
@keyframes snow-medium {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 400px;
  }
}
@keyframes snow-big {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 600px;
  }
}
.Navbar{
    position: fixed;
    left: 0;
    top: 0;
    padding: 25px 9% ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    animation: navbar-show 1.4s linear forwards;
    animation-delay: 1s;
}

@keyframes navbar-show{
    100%{
        visibility: visible;
        opacity: 1;
    }
}
.Navbar .logo{
    font-size: 30px;
    font-weight: 700;
}
.Navbar ul{
    display: flex;
}

.Navbar ul li{
    list-style: none;
    margin-left: 55px;
}

.Navbar ul li a{
    font-size: 18px;
    font-weight: 400;
    transition: .5s;
}

.Navbar ul li:hover a,
.Navbar ul li.active a{
    color: #EA2F14;
}
