*{
    font-family: "Bitter", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a{
    color: white;
    text-decoration: none;
}

.Navbar{
    position: fixed;
    left: 0;
    top: 0;
    padding: 25px 9% ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    animation: navbar-show 1.4s linear forwards;
    animation-delay: 1s;
}

@keyframes navbar-show{
    100%{
        visibility: visible;
        opacity: 1;
    }
}
.Navbar .logo{
    font-size: 30px;
    font-weight: 700;
}
.Navbar ul{
    display: flex;
}

.Navbar ul li{
    list-style: none;
    margin-left: 55px;
}

.Navbar ul li a{
    font-size: 18px;
    font-weight: 400;
    transition: .5s;
}

.Navbar ul li:hover a,
.Navbar ul li.active a{
    color: #EA2F14;
}